#feedbackrankedchoicegenerator {
    background-color: rgb(223, 242, 247);
    padding: 10px;
}

#feedbackrankedchoicegenerator h3 {
    padding: 10px;
    background-color: rgb(35, 65, 163);
    color: #fff;
}

#feedbackrankedchoicegenerator .row {
    margin-left: 0;
}
